.layout *{
    margin: 0;
    padding: 0;
}

.layout ul,li{
    list-style: none
}

.red-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: red;
    color: #fff;
    border: none;
}

.layoutSy{
    margin: 30px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.layoutSy li{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border:4px solid #ddd;
    margin-top: -4px;
    margin-left: -4px;
    box-sizing: border-box;
}

.layoutSy li:hover{
    border:4px solid red;
    z-index: 10;
}